<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; 2016-2017</span>
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="glyphicon glyphicon-menu-up"></i></a>